@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .orient {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

.plyr {
    width: auto;
    height: 100%;
}